body {
    height: 80px;
    background-color:coral ;
    text-align: center;
}

@media(max-width: 540px) {
    body {
        background-color: lightyellow;
    }
}

@media(max-width: 768px) {
    body {
        background-color: orange;
    }
}

@media(max-width: 920px) {
    body {
        background-color: lightpink;
    }
}